*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
header{
    background-color: #2558d8;
    
}
.contenitore{
    max-width: 1500px;
    margin: 0 auto;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top ul{
    color: white;
    list-style-type:none ;
}
.top ul li{
    padding: 1rem 2rem;
}
 .button-white{
    background-color: white;
    color: #1d1552;
    border-color: white;
    border: 0px;
    border-radius: 3rem;
}
.top p{
    padding: 1rem 6rem ;
    
}
.top button{
    margin: 0.5rem 6rem;
    width: 4rem;
    height: 2rem;
    
}
 
.bottom{
  text-align: center;
 color: white;
 padding: 2rem 0rem 6rem 0rem;
}
.bottom h1{
    font-size: 3rem;
   
} 
.bottom p{
    padding: 2rem 15rem;
}



.bottom button{
    margin: 0 1rem;

}
.bottom .button-white{
    height: 2rem;
    width: 8rem;
}
.button-black{
    border: 0px;
    border-radius: 3rem;
    background-color:#23272a ;
    color: white;
}
.bottom .button-black{
height: 2rem;
width: 12rem;
}