*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
header{
    background-color: #2558d8;
    
}
.contenitore{
    max-width: 1500px;
    margin: 0 auto;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top ul{
    color: white;
    list-style-type:none ;
}
.top ul li{
    padding: 1rem 2rem;
}
 .button-white{
    width: 4rem;
    height: 2rem;
    background-color: white;
    color: #1d1552;
    border-color: white;
    border: 0px;
    border-radius: 3rem;
}
.top p{
    padding-top: 1rem ;

}
.top button{
    margin-top: 0.5rem;
}
